<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>489875867005-4brg2tiv0kgta4n0gqiaapp69nnmk848.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489875867005-4brg2tiv0kgta4n0gqiaapp69nnmk848</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>489875867005-q4jc9l4011ii58ulek7krnvaqhour3no.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCILHwcQCE9eGkqt8yk202zKIeVoIJ0Z_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>489875867005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.utk.treesource</string>
	<key>PROJECT_ID</key>
	<string>treesnap-d64df</string>
	<key>STORAGE_BUCKET</key>
	<string>treesnap-d64df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489875867005:ios:9a2325794bc7791c</string>
	<key>DATABASE_URL</key>
	<string>https://treesnap-d64df.firebaseio.com</string>
</dict>
</plist>